

.entryButton
{
    width:100%;
    /* height:100%; */
    /* box-sizing: border-box; */
    aspect-ratio: 1;
    /* background-color: rgb(15, 15, 15); */
    /* text-color; */
    text-align: center;
    color: black;
    text-wrap:wrap;
    font-size: large;
    transition: transform 1s ease;
}

.genericx44Button
{
    border:2px;
    border-radius: 5%;
    border-style: solid;
    border-color: whitesmoke;
    aspect-ratio: 1.0;
    text-align: center;

}

.pressedx44Button
{
    filter: brightness(0.7);
}

.x44buttonText
{
    text-align: center;
}

.inactivex44Button
{
    background-color: hsl(0, 0%, 12%);
    color:whitesmoke;
    border-color: black;
}

.selectedx44Button
{
    background-color: rgb(237, 37, 83);
    color:black;
}

.matchedx44ButtonGroup0
{
    background-color: rgb(255, 0, 255);
    color:black;
}
.matchedx44ButtonGroup1
{
    background-color: rgb(0, 255, 0);
    color:black;
}
.matchedx44ButtonGroup2
{
    background-color: rgb(255, 255, 0);
    color:black;
}
.matchedx44ButtonGroup3
{
    background-color: rgb(0, 255, 255);
    color:black;
}


.title
{
    font-family: Noto Sans,sans-serif;
    text-align: center;
    vertical-align: bottom;
    font-size: 40pt;
    /* padding-top: 10%; */
    /* padding-bottom: %; */
    color: rgb(237, 37, 83);
    display: inline;
}
.subtitle
{
    /* padding-top:10px; */
    display: inline;
    vertical-align: top;
    font-family: Noto Sans,sans-serif;
    text-align: center;
    /* font-size: 20pt; */
    /* padding-bottom: 10%; */
    color: rgb(237, 37, 83);
}


.mistakediv
{
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
    font-size: 20pt;
    padding-top: 10%;
    padding-bottom: 10%;
}

.wigglyButtonCauseYoureDum{
    animation-name: wiggle;
    -moz-animation-name: wiggle;
    -webkit-animation-name: wiggle;
    -ms-animation-name: wiggle;
    animation-duration: 300ms;
    -ms-animation-duration: 300ms;
    -moz-animation-duration: 300ms;
    -webkit-animation-duration: 300ms;
    animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;

    /* -webkit-animation-timing-function: ease-in-out; */
    /* -ms-animation-timing-function: ease-in-out; */
}

@-webkit-keyframes wiggle {
    0% {-webkit-transform: rotate(10deg);}
    25% {-webkit-transform: rotate(-10deg);}
    50% {-webkit-transform: rotate(20deg);}
    75% {-webkit-transform: rotate(-5deg);}
    100% {-webkit-transform: rotate(0deg);}
}

@-ms-keyframes wiggle {
    0% {-ms-transform: rotate(1deg);}
    25% {-ms-transform: rotate(-1deg);}
    50% {-ms-transform: rotate(1.5deg);}
    75% {-ms-transform: rotate(-5deg);}
    100% {-ms-transform: rotate(0deg);}
}

@-moz-keyframes wiggle
{
    0% {-moz-transform: rotate(1deg);}
    25% {-moz-transform: rotate(-1deg);}
    50% {-moz-transform: rotate(1.5deg);}
    75% {-moz-transform: rotate(-5deg);}
    100% {-moz-transform: rotate(0deg);}
}

@keyframes wiggle {
    0% {transform: rotate(10deg);}
    25% {transform: rotate(-10deg);}
    50% {transform: rotate(20deg);}
    75% {transform: rotate(-5deg);}
    100% {transform: rotate(0deg);}
}

/*
.bottombuttons
{
    margin:auto;
    padding-left:5%;
    padding-right:5%;
} */
/*
.testcenter
{
    background-color: red;
}

.leftcenter
{
    background-color: blue;
}


.rightcenter
{
    background-color: blueviolet;
}
.container
{
    background-color: green;
}

.row
{
    background-color: pink;
}
zz */



#appMainDiv
{
    width:60%;
    background-color: hsl(0, 0%, 5%);
    margin-left:20%;
    margin-right:20%;
}
/* mobile questionmark verion*/

@media (max-width: 600px)
{
    #appMainDiv
    {
        width:100%;
        margin-left:0%;
        margin-right:0%;
    }

}


.squashRatio
{
    aspect-ratio: 4/3;
}


#x44gridContainer
{
    transition: 300ms;
  /* border:2px; */
    /* border-color: rgb(215, 215, 215);
    border-style:solid; */

    /* border-right:5px; */
}

app-thumbnailmodal
{
    position:  absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    background-color: hsl(0, 0%, 5%);

    margin: 0;
    height: 100%;
    /* overflow:scroll; */
    overflow-y: scroll;
    overflow-x:hidden;
    color:whitesmoke;
    font-family: Noto Sans,sans-serif;


}